figure{
    float: left;
}

#last{
    clear: left;
}

#nav-menu ul{
    list-style-type: none;
    padding: 1em 0;
    text-align: center;
}

#nav-menu ul li{
    display: inline;
    padding: 0 1.5em;
    font-size: 20px;
}

#nav-menu ul li a{
    text-decoration: none;
    color: red;
    border: 2px solid black;
}

p{
    display: inline;
}

#food{
    height: 150px;
    width: 200px;
}
